* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Alien Encounters';
    src: url('/public/fonts/Alien_Encounters.ttf') format('truetype');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #95a3b3;
    background-color: #000;
    background-image: url('/public/images/stars.png'), linear-gradient(20deg, #4d2d7f 0%, transparent 35%);
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-shadow: #404449 1px 1px 0;
}

body.nav-open {
    overflow: hidden;
    scroll-behavior: none;
    cursor: pointer;
}

a,
a:focus {
    color: #22aed1;
    text-decoration: none;
}

hr {
    border: none;
    border-bottom: 1px solid #4d5359;
    margin: 15px 0;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 15px;
}

header a:hover {
    color: #fff;
}

header #nav {
    display: flex;
    align-items: center;
}

header ul li {
    margin: 0;
}

header .nav-item {
    margin-left: 25px;
    text-align: center;
    color: #22aed1;
}

header .nav-item .lnr {
    font-size: 1.7em;
}

header #mobile-nav .nav-item .lnr {
    font-size: 1.4em;
    padding-right: 15px;
}

header #mobile-nav {
    position: fixed;
    top: 0;
    left: -174.05px;
    bottom: 0;
    width: 174.05px;
    background-color: rgba(0, 0, 0, .9);
    padding-top: 50px;
    border-right: 1px solid #22aed1;
    cursor: auto;
    transition: all 150ms ease;
    z-index: 2;
}

header #mobile-nav.open {
    left: 0;
}

header #mobile-nav .nav-item {
    text-align: left;
    color: #22aed1;
    margin-left: 0;
    padding: 7.5px 15px;
    line-height: 33px;
}

header #mobile-nav .nav-item a {
    display: flex;
    align-items: center;
}

header #mobile-nav .nav-item:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0, transparent 100%);
}

header #mobile-nav hr {
    border: 0;
    border-top: 1px solid #22aed1;
    margin: 5px 0;
}

header .brand-logo {
    position: relative;
    font-size: 1.7em;
    color: #fff;
    margin-right: auto;
    width: 150px;
    z-index: 3;
}

header .brand-logo:before {
    content: 'IN SPACE!';
    position: absolute;
    right: -30px;
    bottom: 0px;
    font-size: 60%;
    color: #fff;
    transform: rotate(-20deg);
    text-shadow: -1px 1px 0px #00e6e6, -2px 2px 0px #01cccc, -3px 3px 0px #00bdbd;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 150ms ease;
}

body.nav-open header .brand-logo:before {
    opacity: 0;
}

.menu-btn {
    color: #22aed1;
    cursor: pointer;
    text-align: right;
    font-size: 1.7em;
}

.menu-btn:hover {
    color: #fff;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 25px;
    user-select: none;
    -moz-user-select: none;
}

.title:before {
    content: '\e876';
    font-family: Linearicons-Free;
    font-size: 80%;
    font-weight: bold;
    margin-right: 10px;
    color: #95a3b3;
}

.title .selected {
    color: #fff;
}

.title .clickable {
    cursor: pointer;
}

.title .clickable:hover {
    border-bottom: 1px solid #22aed1;
}

.std-box {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0, transparent 100%);
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    transition: all 150ms ease;
}

.std-box.sm {
    padding: 10px 20px;
}

.std-box.success {
    color: #a1e8af;
    background-image: linear-gradient(to right, rgba(195, 240, 204, 0.15) 0, transparent 100%);;
    margin-bottom: 15px;
}

.std-box.error {
    color: #ea526f;
    background-image: linear-gradient(to right, rgba(241, 144, 163, 0.15) 0, transparent 100%);;
    margin-bottom: 5px;
}

.auth {
    width: 100%;
    max-width: 550px;
}

textarea,
input[type=text],
input[type=email],
input[type=password],
input[type="email"] {
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 3px;
    color: #fff;
    height: 35px;
    border: 0;
    padding: 0 10px;
    border: 1px solid #4d5359;
}

textarea {
    padding: 15px;
    resize: none;
    min-height: 100px;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type="email"]:focus {
    border-color: #22aed1;
}

input.error
input.error:focus {
    border-color: #ea526f;
}

label {
    display: block;
    margin-bottom: 5px;
}

label#label-upload {
    border: 1px dashed;
    padding: 5px 10px;
    border-radius: 4px;
    color: #22aed1;
    min-height: 35px;
    line-height: 25px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transition: all ease 100ms;
    margin: 0;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

label#label-upload:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
}

#clear-upload {
    position: absolute;
    color: #fff;
    background-color: #ea526f;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    text-shadow: none;
    top: -10px;
    right: -10px;
}

.input-group {
    margin-bottom: 20px;
}

.btn {
    height: 35px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    background-color: #22aed1;
    min-width: 150px;
    max-width: 300px;
    line-height: 35px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    transition: all ease 200ms;
}

.btn:hover {
    background-color: #1c8fac;
}

.btn.danger {
    background-color: #ea526f;
}

button.bare {
    background: none;
    border: none;
    padding: 0;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-top: 25px;
}

#upload-column {
    flex: 0 0 80%;
}

.filters-select {
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-wrapper {
    border: 1px solid transparent;
    width: 100px;
    max-height: 78px;
    text-align: center;
    background-color: #000;
    background-image: url('/public/images/graphy.png');
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.filter-name {
    margin-bottom: 5px;
}

.filter-wrapper:hover {
    background-color: rgba(255, 255, 255, .1);
}

.filter-wrapper.selected {
    border-color: #22aed1;
}

.filter-wrapper img {
    width: 100%;
}

.filter-wrapper input {
    position: fixed;
    opacity: 0;
}

.filter-overlay {
    display: flex;
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #22aed1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.filter-img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}

#upload-preview,
#stream-preview {
    position: relative;
    background-color: #000;
    background-image: url('/public/images/graphy.png');
    border-radius: 2px;
    padding-bottom: 75%;
}

#preview {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}

#preview.portrait {
    height: 100%;
}

#preview.landscape {
    width: 100%;
}

#upload-group {
    align-items: center;
    justify-content: space-between;
}

#upload {
    max-width: 225px;
    border-radius: 4px;
    color: #22aed1;
    background-color: rgba(255, 255, 255, .15);
}

#stream {
    transform: scaleX(-1);
}

#upload-wrapper,
#webcam-wrapper {
    position: relative;
}

#webcam-wrapper video {
    width: 100%;
}

#a-webcam,
#a-upload {
    cursor: pointer;
}

#a-webcam:hover,
#a-upload:hover {
    border-bottom: 1px dashed;
}

#webcam-btn {
    display: block;
    margin: 25px auto 0 auto;
}

#history-column {
    margin-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    position: absolute;
    left: 80%;
    top: 0;
    bottom: 0;
    right: 0;
}

.history {
    border: 0;
    flex-direction: column;
}

.history .overlay {
    margin: 0 0 15px 0;
    max-width: 100%;
}

.history .overlay:last-child {
    margin-bottom: 0;
}

#favorites .overlay img,
.history .overlay img {
    width: 100%;
    height: 100%;
}

#favorites .overlay {
    margin: 0 5px 0 0;
    padding: 5px;
    min-width: 125px;
    max-width: 175px;
}

#favorites {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.overlay {
    display: block;
    padding: 10px;
    max-width: 120px;
    width: 100%;
    border: 1px solid #4d5359;
    border-radius: 2px;
    margin-right: 15px;
}

.overlay:hover {
    border-color: #22aed1;
}

.thumbnail {
    position: relative;
    max-width: 100px;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.thumbnail .gallery-image {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
}

.image-full img {
    width: 100%;
    border: 1px solid #4d5359;
    border-radius: 4px;
    padding: 5px;
    background-color: #000;
}

#image-delete {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#image-delete button {
    font-weight: bold;
    border-radius: 50%;
    border: 0;
    font-size: 1.5em;
    background-color: #ea526f;
    color: #fff;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}

#image-delete button:hover {
    background-color: #ea2c4f;
}

.edit-form { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1rem;
    letter-spacing: normal;
}

.edit-button {
    position: absolute;
    right: -20px;
    top: -10px;
    border-radius: 50%;
    padding: 5px;
    font-size: .85rem;
    letter-spacing: normal;
}

#image-title-edit {
    margin-top: 10px;
}

#image-title-edit input[type=text] {
    max-width: 250px;
    margin-right: 10px;
}

#image-description-edit,
#image-description-edit button {
    margin-top: 10px;
}

#comment-form {
    display: flex;
}

#comment-form input {
    margin-right: 10px;
}

.comment-delete {
    display: inline-block;
}

.pagination {
    border: 1px solid #4d5359;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    text-align: center;
}

.pagination a.current {
    color: #fff;
}

.pagination li {
    display: inline-block;
    text-align: center;
    width: 40px;
}

.btn[disabled],
button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.container {
    position: relative;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 80%;
}

.flex-1 {
    flex: 1;
}

.font-alien {
    font-family: 'Alien Encounters';
    letter-spacing: 1.5px;
}

.lnr.sm {
    font-size: 80%;
}

.no-shadow {
    text-shadow: none;
}

.gray {
    color: #4d5359;
}

.blue {
    color: #22aed1;
}

.red {
    color: #ea526f;
}

.green {
    color: #a1e8af;
}

.yellow {
    color: #ffed65;
}

.d-flex {
    display: flex;
}

.hidden {
    display: none !important;
}

.d-block {
    display: block;
}

.m-auto {
    margin: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.relative {
    position: relative;
}

.mobile {
    display: none;
}

.i-pad {
    padding-left: 10px;
}

.wrap {
    word-wrap: anywhere;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.inline {
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    #upload-group {
        flex-direction: column;
    }

    .upload-wrapper {
        margin-bottom: 15px;
    }

    .std-box,
    .std-box.sm {
        padding: 10px;
    }

    .mobile-column {
        flex-direction: column;
    }

    #upload-column {
        flex: 1;
    }

    #history-column {
        margin: 25px 0;
        position: relative;
        overflow-y: hidden;
        overflow-x: auto;
        width: 100%;
        left: 0;
    }

    .history {
        flex-direction: row;
    }

    .history .overlay {
        margin: 0 5px 0 0;
        padding: 5px;
        min-width: 150px;
    }

    #comment-form {
        display: block;
    }

    #comment-form input {
        margin-right: 0;
    }
}
